.vs/ImageProcess/v16/.suo
.vs/ImageProcess/v16/Server/sqlite3/db.lock
.vs/ImageProcess/v16/Server/sqlite3/storage.ide
.vs/ImageProcess/v16/Server/sqlite3/storage.ide-shm
.vs/ImageProcess/v16/Server/sqlite3/storage.ide-wal
.vs/ImageProcess/v16/TestStore/0/000-0000.testlog
.vs/ImageProcess/v16/TestStore/0/testlog.manifest
bin/Debug/ImageProcess.exe
bin/Debug/ImageProcess.exe.config
bin/Debug/ImageProcess.pdb
bin/Debug/ImageProcessor.dll
bin/Debug/ImageProcessor.xml
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/ImageProcess.csproj.CopyComplete
obj/Debug/ImageProcess.csproj.FileListAbsolute.txt
obj/Debug/ImageProcess.csproj.GenerateResource.cache
obj/Debug/ImageProcess.csprojAssemblyReference.cache
obj/Debug/ImageProcess.exe
obj/Debug/ImageProcess.Form1.resources
obj/Debug/ImageProcess.pdb
obj/Debug/ImageProcess.Properties.Resources.resources
packages/ImageProcessor.2.7.0.100/.signature.p7s
packages/ImageProcessor.2.7.0.100/ImageProcessor.2.7.0.100.nupkg
packages/ImageProcessor.2.7.0.100/lib/net452/ImageProcessor.dll
packages/ImageProcessor.2.7.0.100/lib/net452/ImageProcessor.xml
